/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
*{
    box-sizing: border-box;
}
body {
    font-family: 'Poppins';
    color: #444444;
    margin: 0;
    background-color: #f8fafc;
}

a {
    text-decoration: none;
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.align-items-center {
    align-items: center !important;
}
.d-flex {
    display: flex !important;
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.header {
    transition: all 0.5s;
    z-index: 997;
    height: 50px;
    box-shadow: 0px 0.5px 0.5px rgb(93 92 92 / 38%);
    background-color: white;
    padding-left: 20px;
    /* Toggle Sidebar Button */
    /* Search Bar */
}
.header .toggle-sidebar-btn {
    font-size: 32px;
    cursor: pointer;
}

.bar{
    width: 15%;
    position: absolute;
}
.bar i{
    color: rgba(97, 103, 121, 1);
    float: inline-end;
}
@media (max-width: 1199px) {
    .bar{
        width: 6%;
    }
}


.logo{
    width: 100%;
    text-align: center;
    margin-top: 0.5rem;
}
  
/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
.sidebar {
    position: fixed;
    top: 50px;
    left: 0;
    bottom: 0;
    width: 260px;
    z-index: 996;
    transition: all 0.3s;
    /* padding: 20px; */
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #aab7cf transparent;
    background-color: #ffffff;
    box-shadow: 0 0.125rem 0.375rem 0 rgba(161, 172, 184, 0.12);
}


.sidebar li a{
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
}

@media (max-width: 1199px) {
    .sidebar {
    left: -300px;
    }
}

.sidebar::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #fff;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #aab7cf;
}

@media (min-width: 1200px) {

    #main,
    #footer {
    margin-left: 265px;
    }
}

@media (max-width: 1199px) {
    .toggle-sidebar .sidebar {
    left: 0;
    }
}

@media (min-width: 1200px) {

    .toggle-sidebar #main,
    .toggle-sidebar #footer {
    margin-left: 0;
    }

    .toggle-sidebar .sidebar {
    left: -300px;
    }
}

.sidebar-nav {
    padding: 0px 10px;
    margin: 0;
    list-style: none;
}

.sidebar-nav li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebar-nav .nav-item {
    margin-bottom: 5px;
}

.sidebar-nav .nav-item span{
    margin-left: 1rem;
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
}

.sidebar li a.active {
    color: #09b3e4;
}

.sidebar li img.active {
    color: #09b3e4;
}

.sidebar-nav .last{
    margin-top: 9rem;
}

.sidebar-nav .sub_last{
    margin-top: 2rem;
}

.sidebar-nav .nav-heading {
    font-size: 11px;
    text-transform: uppercase;
    color: #899bbd;
    font-weight: 600;
    margin: 10px 0 5px 15px;
}

.sidebar-nav .nav-link {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    color: #697a8d;
    transition: 0.3;
    padding: 12px 15px;
}

.sidebar-nav .nav-link i {
    font-size: 16px;
    /* margin-right: 10px; */
    /* color: #4154f1; */
}

/* .sidebar-nav .nav-link.collapsed {
    color: #012970;
} */

.sidebar-nav .nav-link.collapsed i {
    color: #899bbd;
}

.sidebar-nav .nav-link:hover {
    background: #eceff5;
    border-radius: 10px;
}

.active{
    background-color: rgba(53, 192, 247, 0.3);
    border-radius: 10px;
}

/*--------------------------------------------------------------
# Profile
--------------------------------------------------------------*/
.profile{
    padding: 10px 15px;
    color: rgba(97, 103, 121, 1);
}
.image i{
    font-size: 70px;
}

.info {
    margin-top: -1rem;
}

.info h2{
    margin: 0;
    font-size: 20px;
}
.info h3{
    margin: 0;
    font-weight: 300;
    font-size: 14px;
}

.head_info {
    margin-top: 0.5rem;
}

.head_info h2{
    margin: 0;
    font-size: 22px;
}
.head_info h3{
    margin: 0;
    font-weight: 300;
    font-size: 16px;
}

/*--------------------------------------------------------------
# MAIN
--------------------------------------------------------------*/
main{
    padding: 0 15px;
}
.submain {
    padding: 20px 25px;
    background-color: #ffffff;
    margin: 20px 0px;
    border-radius: 5px;
    box-shadow: 0 0 0.375rem 0.25rem rgba(161, 172, 184, 0.15);
}
.submain-btn{
    display: flex;
    gap: 10px;
}
.main-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    width: 100%;
}

.main-title button{
    background-color: #5077A5;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    /* margin-right: 8px; */
    cursor: pointer;
}

.search-filter {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.filter-field{
    display: flex;
    gap: 10px;
}
.filter-select {
    padding: 10px;
    border: 1px solid #dddedf;
    border-radius: 4px;
    color: #566a7f;
}
@media (max-width: 600px) {
    .submain {
        padding: 20px;
    }
    .submain-btn{
        flex-wrap: wrap;
    }
    .search-filter {
        flex-wrap: wrap;
    }
    .filter-field {
        gap: 5px;
    }
    .filter-select {
        padding: 8px;
    }
}

.date-time {
    color: black;
    /* font-size: 14px; */
    padding: 15px 15px 15px 25px;
    /* font-weight: 600; */
    /* background-color: white; */
    /* border-radius: 5px; */
    margin-top: 4.5rem;
    /* border: 0.1px solid #80808061; */
    background-color: #ffffff;
    box-shadow: 0 0 0.375rem 0.25rem rgba(161, 172, 184, 0.15);
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    color: #697a8d;
}
.front{
    margin-top: 20px;
    border-radius: 10px;
    background-color: rgba(255, 203, 170, 1);
    padding: 50px 10px 0px 0px;
    display: flex;
    box-shadow: 1px 1px 5px #d9cece;
}
.asset1 img{
    height: 150px;
    width: 150px;
    margin-bottom: -0.7rem;
}
.front-name{
    margin-top: -1.3rem;
    margin-left: 5px;
}
.front-name h3{
    font-weight: 600;
    font-size: 20px;
    color: rgba(0, 155, 221, 1);
    letter-spacing: 1.5px;
    margin: 0;
}
.front-name h3 span{
    color: rgba(242, 117, 43, 1);
    margin: 0;
}
.front-name h1{
    font-weight: bold;
    font-size: 30px;
    color: rgba(4, 0, 68, 1);
    margin: 0;
    margin-top: -5px;
}
.front-name p{
    color: rgba(80, 119, 165, 1);
    font-style: italic;
    font-weight: 500;
    font-size: 14px;
    margin: 0;
    margin-top: -5px;
}
.reports{
    display: flex;
    margin-top: 1rem;
    gap: 10px;
}
.filed{
    background-color: white;
    /* box-shadow: 1px 1px 5px rgb(185 180 180); */
    border-radius: 5px;
    padding: 5px 10px;
    display: flex;
    /* width: 50%; */
    border: 0.1px solid #80808061;
}
.filed h3{
    margin-left: 1rem;
    font-size: 25px;
    color: rgba(0, 155, 221, 1);
}
.filed p{
    margin-left: 1rem;
    font-weight: 600;
    color: rgba(97, 103, 121, 1);
    font-size: 14px;
    margin-top: 20px;
}
.filed2{
    background-color: white;
    /* box-shadow: 1px 1px 5px rgb(185 180 180); */
    border-radius: 5px;
    padding: 5px;
    display: flex;
    /* width: 50%; */
    /* margin-left: 10px; */
    border: 0.1px solid #80808061;
}
.filed2 h3{
    margin-left: 1rem;
    font-size: 25px;
    color: rgba(0, 155, 221, 1);
}
.filed2 p{
    margin-left: 1rem;
    font-weight: 600;
    color: rgba(97, 103, 121, 1);
    font-size: 14px;
    padding: 10px 0px 5px 0px;
}

.btn1 {
    font-size: 14px;
    padding: 5px;
    font-weight: 600;
    background-color: white;
    border-radius: 5px;
    margin-top: 1.2rem;
    text-align: center;
    cursor: pointer;
    border: 0.1px solid #80808061;
}
.btn1 a{
    color: black;
    font-weight: 800;
    font-size: 16px;
}

.upload{
    display: flex;
    margin-top: 1.5rem;
    text-align: center;
}
.child{
    background-color: rgba(242, 117, 43, 0.2);
    box-shadow: 1px 1px 3px rgb(185 180 180);
    border-radius: 5px;
    width: 50%;
}
.child img{
    font-size: 35px;
    color: rgba(0, 155, 221, 1);
}
.child p{
    font-weight: 600;
    color: rgba(97, 103, 121, 1);
    font-size: 14px;
    margin: 0;
    margin-top: 5px;
}
.child2{
    background-color: rgba(242, 117, 43, 0.2);
    box-shadow: 1px 1px 3px rgb(185 180 180);
    border-radius: 5px;
    width: 50%;
    margin-left: 10px;
}
.unauthorize{
    margin-top: 1.5rem;
}
.violation{
    margin-top: 1.5rem;
}
.child2 a{
    margin-top: 1.3rem;
}
.child2 .bi-exclamation-circle-fill{
    font-size: 35px;
    color: rgba(0, 155, 221, 1);
}
.child2 p{
    font-weight: 600;
    color: rgba(97, 103, 121, 1);
    font-size: 14px;
    margin-top: 5px;
}


/*--------------------------------------------------------------
# CREATE REPORT CSS ON MAIN DIV //// UNAUTHORIZED PAGE MAIN DIV
--------------------------------------------------------------*/
.to_report{
    background-color: white;
    padding: 0px 10px 20px 10px;
    margin-top: 20px;
    border-radius: 10px;
    border: 0.1px solid #80808061;
}
.to_report h3{
    text-align: center;
    color: rgba(4, 0, 68, 1);
    padding: 10px 0px 0px 0px;
}
.input-form{
    margin-top: 10px;
    padding: 5px 0px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.input-form label {
    flex: 1;
    margin-right: 10px;
    text-align: end;
    font-size: 13px;
    color: black;
    font-weight: 500;
}

.input-form input,
.input-form select {
    flex: 5;
    padding: 5px 5px 5px 10px;
    border: 0.1px solid #80808061;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: 'Poppins';
    background: white;
    color: rgba(97, 103, 121, 1);
    font-size: 13px;
}

@media (max-width: 600px) {
    .input-form{
        flex-direction: column;
        padding: 0px 10px;
        margin-top: 0px;
    }

    .input-form label {
        text-align: left;
        padding: 5px 0px;
        font-size: 14px;
    }

    .input-form input, .input-form select {
        font-size: 14px;
    }
    
}

@media (max-width: 400px) {
    .input-form label {
        font-size: 12px;
    }
    .input-form input, .input-form select {
        flex: 0;
        font-size: 12px;
        max-width: 130px;
    }
}

.input-form2 {
    margin-top: 10px;
    font-weight: 500;
}

.click_files {
    align-items: center;
    justify-content: center;
    border: 2px dashed rgba(0, 0, 0, 1);
    border-radius: 4px;
    padding: 30px 20px 20px 20px;;
    text-align: center;
    color: #999;
    cursor: pointer;
    background-color: white;
    margin-top: 0.3rem;
}

.click_files img {
    width: 100px;
    margin-right: 10px;
}

.save_not_btn {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.save_not_btn button,
.save_not_btn a {
    width: 48%;
    text-align: center;
    padding: 5px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: rgba(62, 62, 62, 1);
    font-weight: 600;
    font-size: 16px;
    margin-top: 2rem;
}

.save_not_btn .done {
    
    font-family: 'Poppins';
    background-color: rgba(242, 117, 43, 0.2);
}

.save_not_btn a {
    background-color: rgba(80, 119, 165, 0.2);
    text-decoration: none;
}


/*--------------------------------------------------------------
# VIEW REPORTS MAIN DIV CSS
--------------------------------------------------------------*/
.title h3{
    color: rgba(4, 0, 68, 1);
    padding: 10px 0px 0px 0px;
    margin-top: 5px;
}
.content{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}


/*--------------------------------------------------------------
# TO DELETE
--------------------------------------------------------------*/
select#month-type {
    /* width: 90%; */
    margin-left: -1px;
    border-radius: 0px 5px 5px 0px;
    padding: 0px 10px;
    font-family: 'Poppins';
    font-size: 16px;
    letter-spacing: 2px;
    background-color: white;
    border: 0.1px solid #80808061;
    color: rgba(97, 103, 121, 1);
}
@media (max-width: 600px) {
    select#month-type {
        width: 60%;
    }
}
.dropdown-month{
    display: flex;
    gap: 10px;
    padding: 5px 10px;
    border-width: 2px;
    border-style: dashed;
}
.dropdown-month label{
    /* z-index: 10; */
    /* background-color: rgba(80, 119, 165, 0.2); */
    /* padding: 3px 12px; */
    /* border-radius: 5px 0px 0px 5px; */
    color: rgba(97, 103, 121, 1);
}
.filter-year label{
    background-color: rgba(80, 119, 165, 0.2);
    padding: 3px 0px 3px 10px;
}

.filter-container {
    display: flex;
    gap: 10px;
    align-items: center;
}
.filter-item {
    display: flex;
    align-items: center;
    gap: 5px;
}
.filter-item label {
    font-weight: bold;
    white-space: nowrap;
}
.filter-item .filter-day {
    width: 200px;
}
.filter-item input {
    width: 120px;
}
.filter-item button {
    cursor: pointer;
}

.export-tbn{
    flex: 0;
}
.export-child{
    border-radius: 5px;
    background-color: #5077A5;
    text-align: right;
    padding: 12px 25px;
    font-size: 15px;
    font-weight: 600;
    color: white;
    border: none;
    cursor: pointer;
}
/*--------------------------------------------------------------
# TO DELETE
--------------------------------------------------------------*/


.search-bar {
    width: 100%;
    /* max-width: 800px; Adjust as needed */
    /* margin-top: 15px; */
}

.head-search {
    margin-top: 0px;
}

.search-bar form {
    display: flex;
    width: 100%;
}

.search-bar input{
    font-family: 'Poppins';
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px 0px 0px 5px;
    font-size: 12px;
    box-sizing: border-box;
    background-color: white;
    border: 0.1px solid #80808061;
}

.search-bar button {
    font-family: 'Poppins';
    border: none;
    padding: 7px 20px;
    border-radius: 0px 5px 5px 0px;
    background-color: rgba(80, 119, 165, 0.2);
    color: rgba(97, 103, 121, 1);
    font-size: 14px;
    cursor: pointer;
    box-sizing: border-box;
    margin-left: -1px;
}

.search-bar button:hover {
    background-color: rgb(79, 132, 192);
}

.myreports{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.5rem;
    gap: 10px 23px;
}
.filed-child{
    background-color: white;
    border: 0.1px solid #80808061;
    border-radius: 5px;
    padding: 10px 10px 10px 20px;
    width: 46.5%;
}

.myfiled h3{
    font-size: 14px;
    color: rgba(0, 155, 221, 1);
    margin: 0;
}
.myfiled p{
    font-weight: 600;
    color: rgba(97, 103, 121, 1);
    font-size: 14px;
    margin: 0;
    margin-top: 5px;
}
.no-result{
    margin: 0;
}

/*--------------------------------------------------------------
# VIEW PER REPORT PAGE MAIN DIV CSS
--------------------------------------------------------------*/
.per_report{
    background-color: white;
    padding: 0px 10px 20px 10px;
    margin-top: 20px;
    border-radius: 10px;
    border: 0.1px solid #80808061;
}
.per-title{
    text-align: left;
    color: rgba(4, 0, 68, 1);
    /* padding: 10px 0px 0px 0px; */
}
.per-title span{
    color: rgba(62, 62, 62, 1);
    margin-left: 0.7rem;
}
.click_files2 {
    align-items: center;
    justify-content: center;
    /* border: 2px dashed rgba(0, 0, 0, 1); */
    border-radius: 4px;
    text-align: center;
    color: #999;
    cursor: pointer;
    background-color: rgba(217, 217, 217, 1);
    margin-top: 0.3rem;
}

.click_files2 img {
    width: 350px;
    margin-top: 5px;
}

.back-btn{
    padding: 40px 0px 10px 0px;
}
.back-btn a {
    text-align: center;
    padding: 5px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: rgba(62, 62, 62, 1);
    font-weight: 600;
    font-size: 16px;
    background-color: rgba(80, 119, 165, 0.2);
    text-decoration: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}


/*--------------------------------------------------------------
# SCANNED QR CODE MAIN DIV CSS
--------------------------------------------------------------*/
.scanner{
    background-color: white;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    border: 0.1px solid #80808061;
}
.scanner h3{
    text-align: center;
    color: rgba(4, 0, 68, 1);
    font-size: 25px;
}
.body-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    margin: 0;
    justify-content: center;
    color: rgba(62, 62, 62, 1);
    text-decoration: none;
}
#video-container {
    position: relative;
    width: 300px;
    height: 300px;
}

#video {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

#scanner-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.corner {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 10px solid rgba(62, 62, 62, 1);
}

#top-left {
    top: 0;
    left: 0;
    border-top-left-radius: 8px;
    border-width: 4px 0 0 4px;
}

#top-right {
    top: 0;
    right: 0;
    border-top-right-radius: 8px;
    border-width: 4px 4px 0 0;
}

#bottom-left {
    bottom: 0;
    left: 0;
    border-bottom-left-radius: 8px;
    border-width: 0 0 4px 4px;
}

#bottom-right {
    bottom: 0;
    right: 0;
    border-bottom-right-radius: 8px;
    border-width: 0 4px 4px 0;
}

#canvas {
    display: none;
}

#output {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}


.scan-info{
    text-align: center;
    padding: 40px 0px;
}

.scan-info p{
    font-weight: 550;
    font-size: 14px;
    margin: 0;
}
.back-btn2{
    padding: 30px 0px;

}
.back-btn2 a {
    text-align: center;
    padding: 5px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: rgba(62, 62, 62, 1);
    font-weight: 600;
    font-size: 16px;
    background-color: rgba(80, 119, 165, 0.2);
    text-decoration: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}


/*--------------------------------------------------------------
# VEHICLE INFO AFTER SCANNED MAIN DIV CSS
--------------------------------------------------------------*/
.back-btn3{
    margin-top: 15px;
}
.back-btn3 a {
    text-align: center;
    padding: 5px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: rgba(62, 62, 62, 1);
    font-weight: 600;
    font-size: 16px;
    background-color: rgba(80, 119, 165, 0.2);
    text-decoration: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.view{
    border: none;
    padding: 8px;
    background-color: rgba(242, 117, 43, 0.2);
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins';
    color: rgba(97, 103, 121, 1);
}


/*--------------------------------------------------------------
# REGISTRATION NOT FOUND MAIN DIV CSS
--------------------------------------------------------------*/
.reg_not_found{
    /* background-color: rgba(232, 232, 232, 1); */
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgb(185 180 180);
}
.reg_not_found h3{
    text-align: center;
    color: rgba(4, 0, 68, 1);
    font-size: 35px;
    margin-top: 160px;
}
.note{
    text-align: center;
    padding: 0px 0px 70px 0px;
}

.note p{
    padding: 0px 25px;
    font-weight: 550;
    font-size: 14px;
}


/*--------------------------------------------------------------
# MY ACCOUNT MAIN DIV CSS
--------------------------------------------------------------*/

.main-title h3{
    font-size: 24px;
    font-weight: 550;
    margin: 0;
    color: #566a7f;
}

.photo{
    text-align: center;
    padding: 15px 0px 0px 0px;
}
.back-btn4{
    margin-top: 40px;
}
.back-btn4 a {
    text-align: center;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: rgba(62, 62, 62, 1);
    font-weight: 600;
    font-size: 16px;
    background-color: rgba(80, 119, 165, 0.2);
    text-decoration: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
@media (max-width: 400px) {
    .back-btn4 a {
        padding: 5px 20px;
    }
}
/*--------------------------------------------------------------
# LOG IN MAIN DIV CSS
--------------------------------------------------------------*/
.main1{
    text-align: center;
    margin: 0;
}
.login-con{
    margin: auto;
    width: 25%;
    text-align: center;
    background-color: rgba(255, 203, 170, 1);
    display: flex;
    padding: 90px 0px 0px 0px;
    border-radius: 0px 0px 30px 30px;
    box-shadow: 0px 5px 5px rgb(185 180 180);
}
.login-asset img{
    width: 220px;
    height: 220px;
    margin-top: 20px;
    margin-bottom: -0.8rem;
}
.login-name{
    margin-top: -4rem;
    text-align: center;
    padding: 10px;
    background-color: rgba(232, 232, 232, 0.75);
    border-radius: 20px;
}
.login-name h3{
    color: rgba(0, 155, 221, 1);
    margin: 0;
}
.login-name span{
    color: rgba(242, 117, 43, 1);
}
.login-name h1{
    color: rgba(4, 0, 68, 1);
    font-size: 25px;
    margin: 0;
}
.login-title h2{
    color: rgba(4, 0, 68, 1);
    font-weight: 550;
    margin-top: 4rem;
}
.login-form{
    margin: auto;
    width: 25%;
}
.login-inputs{
    text-align: left;
}
.login-input-form{
    padding: 5px 50px;
    position: relative;
    margin-bottom: 1rem;
}
.login-input-form label{
    text-align: left;
    color: black;
    font-weight: 500;
    font-family: 'Poppins';
    font-size: 14px;
}
.login-input-form input{
    width: 100%;
    border-style: solid;
    border-width: thin;
    border-color: rgb(173 173 173 / 48%);
    border-radius: 10px;
    font-size: 16px;
    padding: 0.6rem 0.8rem;
}
.forgot{
    text-align: right;
    margin-right: 50px;
    margin-top: 10px;
}
.forgot a{
    color: #008cc7;
    font-weight: 500;
    font-size: 14px;
    text-align: end;
}

.login-form button{
    font-family: 'Poppins';
    margin-top: 3rem;
    color: white;
    background-color: #009BDC;
    border: none;
    border-radius: 10px;
    width: 80%;
    padding: 8px 60px;
    font-weight: 600;
    cursor: pointer;
    font-size: 16px;
}
.eye-icon {
    position: absolute;
    right: 51px;
    top: 67%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.2em;
    color: #333;
    background-color: #9e9e9e45;
    padding: 10px 10px 12px 10px;
    border-radius: 0px 10px 10px 0px;
}
  
@media (max-width: 1024px) {
    .main1{
        margin: 0;
        padding: 0;
    }
    .login-con{
        width: 100%;
    }
    .login-form{
        margin: auto;
        width: 100%;
    }
    .login-form button{
        width: 75%;
    }
    .login-asset img{
        width: 200px;
        height: 200px;
    }
    .login-name h3{
        font-size: 14px;
    }
    .login-name h1{
        font-size: 24px;
    }
    .spare-login-name {
        margin-left: -1rem;
    }
    .login-name{
        height: auto;
        width: auto;
    }
  
}

@media (max-width: 600px) {
    .main1{
        margin: 0;
        padding: 0;
    }
    .login-con{
        width: 100%;
    }
    .login-form{
        margin: auto;
        width: 100%;
    }
    .login-form button{
        width: 77%;
    }
    .login-asset img{
        width: 200px;
        height: 200px;
    }
    .login-name h3{
        font-size: 20px;
    }
    .login-name h1{
        font-size: 30px;
    }
    .spare-login-name {
        margin-left: -1rem;
    }
    .login-name{
        height: auto;
        width: auto;
    }
}
.error-message {
    background-color: #f8d7da;
    color: #721c24;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #f35868;
    display: flex;
    align-items: center;
    position: relative;
    margin: 10px 0;
    text-align: left;
    font-size: 14px;
    font-weight: 500;
}

.error-message span {
    display: flex;
    align-items: center;
    font-weight: 700;
}

.error-message i.bi-exclamation-circle {
    font-size: 20px;
    margin-right: 10px;
}

.cancel-button {
    background: none;
    border: none;
    font-size: 20px;
    color: #721c24;
    cursor: pointer;
    margin-left: auto; /* Pushes the button to the right */
    margin-right: -0.5rem;
}
.cancel-button:hover {
    color: white;
}

.cancel-button i.bi-x {
    font-size: 24px;
}

.main-error {
    padding: 0px 50px;
}
.unauthorized_report_error{
    padding: 0;
}
.success-message{
    background-color: #d7f8e0;
    color: #1d721c;
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid #35a133;
    display: flex;
    align-items: center;
    position: relative;
    margin: 10px 0;
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    border-top-style: none;
    border-right-style: solid;
    border-bottom-style: none;
    border-left-style: solid;
}

.success-message span {
    display: flex;
    align-items: center;
    font-weight: 700;
}

.success-message i.bi-check-circle {
    font-size: 20px;
    margin-right: 10px;
}

.cancel-button-success {
    background: none;
    border: none;
    font-size: 20px;
    color: #4baf74;
    cursor: pointer;
    margin-left: auto; /* Pushes the button to the right */
    margin-right: -0.5rem;
}
.cancel-button-success:hover {
    color: #1f5f39;
}

.cancel-button-success i.bi-x {
    font-size: 24px;
}
.main-success {
    padding: 0px 50px;
}

.unauthorized_report_success{
    padding: 0;
}

#countdownDisplay {
    color: #e74c3c;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    padding: 10px 50px;
}
/*--------------------------------------------------------------
# FORGOT PASSWORD MAIN DIV CSS
--------------------------------------------------------------*/
.forgot-info{
    margin-top: -2rem;
    padding: 10px 50px;
    text-align: justify;
}
.forgot-info p{
    font-size: 14px;
    color: rgba(80, 119, 165, 1);
    font-weight: 500;
}
.forgot-info span{
    font-weight: 800;
}
.back-login{
    margin-top: 10px;
}
.back-login a {
    color: #0099cb;
}
.forgot-info3{
    padding: 0px 40px;
    text-align: left;
}
.forgot-info3 span{
    font-weight: 700;
}
.login-input-form3 label{
    padding: 5px 0px;
    font-size: 14px;
    font-weight: 500;
    color: black;
}
.login-input-form3 input {
    width: 93.6%;
    border-style: solid;
    border-width: thin;
    border-color: rgba(173, 173, 173, 1);
    border-radius: 5px;
    font-size: 16px;
    padding: 0.6rem 0.8rem;
    background-color: rgba(232, 232, 232, 1);
    margin-top: 0.5rem;
}
.login-form .sendbtn{
    margin-top: 2rem;
}
.forgot-info3 p {
    font-size: 14px;
    color: rgba(80, 119, 165, 1);
    font-weight: 500;
    padding: 0px 10px;
    text-align: justify;
}
.back-login{
    margin-top: 10px;
    cursor: pointer;
}
.back-login a{
    color: #0099cb;
}
.back-login a:hover{
    color: rgba(242, 117, 43, 1);
}


/*--------------------------------------------------------------
# NEW PASSWORD MAIN DIV CSS
--------------------------------------------------------------*/
.newpass-info{
    text-align: center;
}
.newpass-info h2{
    color: rgba(4, 0, 68, 1);
    font-weight: 550;
    margin-top: 4rem;
}
.check_img{
    margin-top: 2rem;
}
.check_img img{
    width: 120px;
    height: 120px;
}
.newpass-note{
    color: rgba(80, 119, 165, 1);
}
.newpass-note p{
    padding: 5px 20px;
}
.newpass-note span{
    font-weight: 700;
}

.inside-error-message{
    font-size: 14px;
    color: red;
    padding: 0px 10px;
    display: none;
}
.inside-success-message{
    font-size: 14px;
    color: rgb(34 153 80);
    padding: 0px 10px;
}
.inside-weak-message{
    font-size: 14px;
    color: rgb(0, 153, 255);
    padding: 0px 10px;
}
/*--------------------------------------------------------------
# RESET NEW PASSWORD MAIN DIV CSS
--------------------------------------------------------------*/
.forgot-info3 {
    padding: 0px 40px;
    text-align: left;
}

.login-input-form3 {
    padding: 5px;
    position: relative;
}

.login-input-form3 input {
    width: 100%;
    /* border-style: solid; */
    /* border-width: thin; */
    /* border-color: #0e81b5eb; */
    border-radius: 10px;
    font-size: 16px;
    padding: 0.6rem 0.8rem;
    background-color: white;
    margin-top: 0.5rem;
    border-style: solid;
    border-width: thin;
    border-color: rgb(173 173 173 / 48%);
}

.eye-icon2{
    position: absolute;
    right: 6px;
    top: 70%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.2em;
    color: #333;
    background-color: #9e9e9e45;
    padding: 10px 10px 12px 10px;
    border-radius: 0px 10px 10px 0px;

}

/*--------------------------------------------------------------
# SCANNED RESULT MAIN DIV CSS
--------------------------------------------------------------*/
.registered_vehicle {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-bottom: 20px;
}
.vehicle_info {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
    letter-spacing: 1px;
}
.vehicle_info h3{
    margin: 0;
    font-size: 16px;
}
.vehicle_info p{
    margin: 0;
    padding: 5px 0px 0px 0px;
    font-weight: 500;
}

@media (max-width: 650px) {
    .registered_vehicle {
        width: 100%;
    }
}

/*--------------------------------------------------------------
# GATE SCANNER CSS
--------------------------------------------------------------*/
.gate-scanner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.gate-scanner2{
    width: calc(100% / 2 - 10px);
}
.side_vehicle_info{
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    border: 0.1px solid #80808061;
    width: calc(100% / 2 - 10px);
}
.not-found h3 {
    text-align: center;
    font-size: 25px;
    justify-content: center;
    font-weight: 550;
}
.side_vehicle_info.found {
    /* background-color: #5A9F68; */
    border: 5px solid;
    border-image: linear-gradient(45deg, rgb(0, 143, 104), rgb(250, 224, 66)) 1;
}
.side_vehicle_info.not-found {
    border: 5px solid;
    border-image: linear-gradient(45deg, rgb(238, 148, 133), rgb(255, 48, 7)) 1;
}
.vehicle_info {
    margin-bottom: 10px;
}

/* NEW */
.vehicle-out {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

@media (max-width: 650px) {
    .gate-scanner2{
        width: 100%;
    }
    .side_vehicle_info{
        width: 100%;
    }
}


/*--------------------------------------------------------------
# VISITOR SCANNER CSS
--------------------------------------------------------------*/
p#message-text {
    background-color: #d7f8e0;
    color: #1d721c;
    padding: 5px 10px;
    /* border-radius: 5px; */
    border: 2px solid #35a133;
    display: flex;
    align-items: center;
    position: relative;
    margin: 10px 0;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    border-top-style: none;
    border-right-style: solid;
    border-bottom-style: none;
    border-left-style: solid;
}