/*--------------------------------------------------------------
# SSU_PERSONNEL CSS
--------------------------------------------------------------*/

table {
    width: 100%;
    border-collapse: collapse;
}
table tr:nth-child(even) {
    background-color: #f2f2f2;
}
th, td {
    /* border: 1px solid #ddd; */
    padding: 8px;
    text-align: left;
    font-size: 15px;
}
th {
    padding: 8px;
    text-align: left;
    color: #566a7f;
    background-color: rgba(53, 192, 247, 0.3);
}
.head_view_ssu_table{
    padding: 20px 0px;
    overflow-y: hidden;
}
.add-new img{
    padding: 10px;
    background-color: rgba(53, 192, 247, 0.3);
    border-radius: 5px;
    cursor: pointer;
}
.ssu-buttons{
    display: flex;
    gap: 10px;
}

.search-bar input{
    width: 100%;
    border-radius: 5px !important;
}
.form-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1010;
    width: 100%;
    max-width: 720px;
    background: #fff;
    border: 2px solid #fff;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.show-popup .form-popup {
    display: block;
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease, opacity 0.1s;
}

.form-popup .close-btn {
    position: absolute;
    top: 1px;
    right: 12px;
    color: #878484;
    cursor: pointer;
    font-size: 30px;
}

@media (max-width: 600px) {
    .form-popup {
        width: 90%;
        padding: 15px;
    }
}

.blur-bg-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    height: 100%;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    /* backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px); */
    transition: 0.1s ease;
    background-color: rgba(0, 0, 0, 0.4);
}

.show-popup .blur-bg-overlay {
    opacity: 1;
    pointer-events: auto;
}

.form-content h2{
    color: #566a7f;
    text-align: center;
    font-family: 'Poppins';
    font-weight: 500;
}
.inputs1{
    margin-top: 2rem;
}
.input-form1{
    margin-top: 1rem;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input-form1 label {
    flex: 1.2;
    margin-right: 10px;
    color: #566a7f;
    text-align: end;
    font-size: 16px;
    font-weight: 500;
}
@media (max-width: 600px) {
    .input-form1 label {
        flex: 0.8;
        font-size: 14px;
    }
}
.input-form1 input,
.input-form1 select {
    flex: 5;
    padding: 5px 5px 5px 10px;
    border: 0.5px solid #80808066;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: 'Poppins';
    background: white;
    color: black;
    font-size: 14px;
}

@media (max-width: 600px) {
    .input-form1 input,
    .input-form1 select {
        flex: 1.7;
    }
}

.submit{
    text-align: center;
    padding: 20px;
    margin-top: 1.5rem;
}
.submit button{
    text-align: center;
    padding: 5px 20px;
    font-family: 'Poppins';
    background-color: rgba(242, 117, 43, 0.2);
    border: none;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
    color: rgba(62, 62, 62, 1);
}
.submit button:hover{
    color: #012970;
}
.close-btn:hover{
    color: #012970;
}

.head-main-success{
    padding: 0px;
}

.head-main-error{
    padding: 0px;
}


/*--------------------------------------------------------------
# UNAUTHORIZED_LIST CSS
--------------------------------------------------------------*/
.head_view_unauthorized_table{
    padding: 20px 0px;
}


/*--------------------------------------------------------------
# VIOLATION_LIST CSS
--------------------------------------------------------------*/
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    /* padding-top: 60px; */
    /* display: flex; Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}
.modal-content {
    background-color: #fefefe;
    margin: 3% auto;
    padding: px;
    /* border: 1px solid #8886; */
    width: 100%;
    max-width: 700px; /* Add a max-width to prevent it from being too wide */
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    /* font-weight: bold; */
    /* font-weight: bold; */
    /* margin: 0; */
    padding: 0px 10px;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.proof-content{
    padding: 20px;
}
.proof-content img{
    padding: 10px;
    /* background-color: #888; */
    border: 1px solid;
}
.head_view_violation_table{
    padding: 20px 0px;
}
.view-btn{
    background-color: rgba(242, 117, 43, 0.2);
    border: none;
    padding: 3px 15px;
    font-family: 'POPPINS';
    font-weight: 500;
    border-radius: 20px;
    cursor: pointer;
}
.view-btn:hover{
    background-color: rgba(80, 119, 165, 0.2);
}

.settled {
    color: #097901;
    background-color: #B9FFB8;
    padding: 0.2em 0.5em;
    border-radius: 4px;
}

.not-settled {
    color: #797501;
    background-color: #FAFFB8;
    padding: 0.2em 0.5em;
    border-radius: 4px;
}
/*--------------------------------------------------------------
# PAGINATION CSS
--------------------------------------------------------------*/
/* Custom CSS for pagination */
.pagination {
    display: flex;
    justify-content: center;
    padding: 0;
    /* margin: 20px 0; */
}

.page-item {
    margin: 1px;
    padding: 8px 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-decoration: none;
    color: #007bff;
    cursor: pointer;
}

.page-item.active {
    background-color: #09b3e4;
    color: white;
    border-color: rgba(53, 192, 247, 0.3);
}

.page-item.disabled {
    color: #ccc;
    cursor: not-allowed;
    pointer-events: none;
}

.page-item:hover {
    background-color: #f0f0f0;
}

/* Custom CSS for per-page dropdown */
.per-page-form {
    display: flex;
    align-items: center;
    margin: 0 0 10px 0;
}

.per-page-form label {
    margin-right: 10px;
    font-size: 14px;
    color: #333;
}

.per-page-form select {
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}

.per-page-form select:focus {
    border-color: #007bff;
    outline: none;
}

@media (max-width: 600px) {
    .page-item {
        font-size: 12px;
    }
    
    .content {
        flex-wrap: wrap;
    }
    .dropdown-month {
        flex-wrap: wrap;
    }
    .filter-container {
        flex-wrap: wrap;
    }
    .filter-item {
        gap: 10px;
    }
    .filter-item input {
        width: 100%;
    }
    .pagination {
        margin: 10px 0;
        flex-wrap: wrap;
    }
    .results-info p{
        font-size: 14px;
    }

    .modal-content {
        width: 90%;
    }
}

#unauthorizedTable tr:nth-child(even) {
    background-color: #f2f2f2;
}


/* .modal-details {
    padding: 10px;
} */
.modal-details p {
    margin: 0 0 5px 0;
}
.modal-details h3 {
    /* margin: 0; */
    text-align: left;
    background-color: rgba(53, 192, 247, 0.3);
    padding: 15px;
    font-size: 15px;
    box-shadow: 0 0 0.375rem 0.25rem rgba(161, 172, 184, 0.15);
}
.vio-details{
    padding: 0px 20px;
}
.vio-details p {
    margin: 0;
    padding: 0 0 5px 0;
    width: 100%;
}
#modal-image{
    width: 100%;          /* Make the image responsive to the modal's width */
    height: 400px;        /* Set a fixed height */
    max-width: 100%;      /* Ensure it doesn’t exceed the modal's width */
    /* object-fit: contain; */
    display: block;       /* Ensure the image is treated as a block-level element */
    /* margin: 20px 0;   */
    padding-bottom: 1rem;
}

.vio-plate h2{
    margin: 0;
    text-align: center;
}
.vio-plate p {
    text-align: center;
    font-size: 13px;
}

.vio-second span {
    padding: 5px;
    border: 0.5px solid #80808066;
    border-radius: 5px;
    /* margin-top: 5px; */
    font-size: 15px;
}

.vio-second strong{
    font-size: 14px;
    font-weight: 500;
}


.vio-sub{
    display: flex;
    gap: 0px 10px;
}

.vio-sub strong{
    font-size: 14px;
    font-weight: 500;
}

.vio-sub input{
    width: 100%;
    padding: 5px;
    border: 0.5px solid #80808066;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: 'Poppins';
    background: white;
    color: black;
    font-size: 14px;
}
.vio-sub-inside input{
    padding: 5px;
    border: 0.5px solid #80808066;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: 'Poppins';
    background: white;
    color: black;
    font-size: 14px;
    width: 100%;
}

.vio-sub-inside strong{
    font-size: 14px;
    font-weight: 500;
}

.userlog-title{
    font-size: 18px;
    font-weight: 550;
    color: #566a7f;
    margin: 0;
}

.owner-info {
    display: flex;
    gap: 20px;
}

.owner-info ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 20px;
}

.owner-info ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    font-size: 14px;
    width: 100%;
    color: #566a7f;
}

.deets {
    border: 1px solid #ddd;
    padding: 5px;
    width: 70%;
    text-align: right;
    height: 100%;
    align-content: center;
    background-color: #ffffff;
}

@media (max-width: 600px) {
    #modal-image{
        width: 100%;
        height: 100%;
    }
    .vio-sub{
        display: inline;
    }
    .vio-sub input{
        width: 100%;
    } 
    .owner-info {
        flex-wrap: wrap;
        gap: 0;
        padding: 10px 0px;
    }
    .owner-info ul {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .owner-info ul li {
        padding-bottom: 10px;
        font-size: 14px;
    }
    .deets {
        width: 60%;
    }
}
